@import "variables";

.container-fluid {
  max-width: 40em;
  // nav {
  //   margin-left: -1em;
  //   margin-right: -1em;
  // }
}

.total {
  font-weight: bold;
}

.form-row {
  margin-bottom: 0.25em;
}

input.score {
  text-align: center;
}

.score.neg {
  color: $gray-500;
}

.score.pos {
  color: $yellow;
}

.name.winner {
  font-weight: bold;
}

.card-header {
  font-weight: bold;
  a:link, a:visited, a:hover, a:active {
    color: lighten($teal, 25%);
  }
}

.col.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
